<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <#include "../resource.tag"/>
    <script src="${staticFileRoot}/js/views/fetcherIndexsManager/fetcher_indexs_manager.js"></script>
</head>
<div class="animated fadeInRight">
    <div class="row">
        <ol class="breadcrumb">
            <li>&nbsp;&nbsp;爬虫管理</li>
            <li>爬虫管理</li>
        </ol>
        <div class="col-lg-4 col-lg-offset-4">
            <form id="searchForm" method="post" class="form-horizontal">
                <div class="form-group">
                    <button type="button" class="btn btn-${_theme}"
                            id="searchBtn" data-toggle="tooltip" data-placement="bottom" title="查询爬虫">查&nbsp;&nbsp;询
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-${_theme}"
                            id="addBtn" data-toggle="tooltip" data-placement="bottom" title="新增爬虫">新&nbsp;&nbsp;增
                    </button>
                </div>
            </form>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-${_theme}" id="AAA_Panel" style="display: none;">
                <div class="panel-heading">查询结果</div>
                <div class="panel-body">
                    <table class="table table-hover table-condensed table-bordered table-striped" id="AAA_Table">
                        <thead>
                        <th data-column-id="id">ID</th>
                        <th data-column-id="className">类名</th>
                        <th data-column-id="urls" data-formatter="urls">URL地址</th>
                        <th data-column-id="operation" data-formatter="operation">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addFetcherDiv" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加爬虫</h4>
            </div>
            <div class="modal-body">
                <form id="addDataForm" method="post">
                    <div class="form-group">
                        <label for="className" class="control-label">类名</label>
                        <input type="text" id="className" name="className" class="form-control"/>
                        <label for="urls" class="control-label">URL</label>
                        <input type="text" id="urls" name="urls" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="addDataBtn" class="btn btn-${_theme}">保存</a>
                <a href="#" class="btn" data-dismiss="modal">取消</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateFetcherDiv" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">修改爬虫</h4>
            </div>
            <div class="modal-body">
                <form id="updateDataForm" method="post">
                    <input type="hidden" id="update_id" name="id" value="">
                    <div class="form-group">
                        <label for="className" class="control-label">类名</label>
                        <input type="text" id="update_className" name="className" class="form-control"/>
                        <label for="urls" class="control-label">URL</label>
                        <input type="text" id="update_urls" name="urls" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="updateDataBtn" class="btn btn-${_theme}">更新</a>
                <a href="#" class="btn" data-dismiss="modal">取消</a>
            </div>
        </div>
    </div>
</div>
</html>
