<div class="col-lg-4 col-lg-offset-4">
    <form id="searchForm" method="post" class="form-horizontal">
        <div class="form-group">
            <button type="button" class="btn btn-${_theme}"
                    id="searchBtn">查&nbsp;&nbsp;询
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-${_theme}"
                    id="showAddDataDivBtn">新&nbsp;&nbsp;增
            </button>
        </div>
    </form>
</div>
<div class="col-lg-12">
    <div class="panel panel-${_theme}" id="AAA_Panel" style="display: none;">
        <div class="panel-heading">查询结果</div>
        <div class="panel-body">
            <table class="table table-hover table-condensed table-bordered table-striped" id="AAA_Table">
                <thead>
                <th data-column-id="id">主键</th>
                <th data-column-id="name">菜单名称</th>
                <th data-column-id="code">菜单CODE</th>
                <th data-column-id="url">URL</th>
                <th data-column-id="operation" data-formatter="operation">操作</th>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="addDataDiv" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加导航栏</h4>
            </div>
            <div class="modal-body">
                <form id="addDataForm" method="post">
                    <div class="form-group">
                        <label for="name" class="control-label">菜单名称</label>
                        <input type="text" id="name" name="name" class="form-control"/>
                        <label for="code" class="control-label">菜单CODE</label>
                        <input type="text" id="code" name="code" class="form-control"/>
                        <label for="url" class="control-label">URL</label>
                        <input type="text" id="url" name="url" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="addDataBtn" class="btn btn-${_theme}">保存</a>
                <a href="#" class="btn" data-dismiss="modal">取消</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateDataDiv" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">修改导航栏</h4>
            </div>
            <div class="modal-body">
                <form id="updateDataForm" method="post">
                    <input type="hidden" id="update_id" name="id">
                    <div class="form-group">
                        <label for="name" class="control-label">菜单名称</label>
                        <input type="text" id="update_name" name="name" class="form-control"/>
                        <label for="code" class="control-label">菜单CODE</label>
                        <input type="text" id="update_code" name="code" class="form-control" disabled/>
                        <label for="url" class="control-label">URL</label>
                        <input type="text" id="update_url" name="url" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="updateDataBtn" class="btn btn-${_theme}">保存</a>
                <a href="#" class="btn" data-dismiss="modal">取消</a>
            </div>
        </div>
    </div>
</div>
<#include "../resource.tag"/>
<script src="${staticFileRoot}/js/views/frontManager/navigation_manager.js"></script>

